<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.renewablepower.dailyautomation</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight/venv/bin/python</string>
        <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight/daily_automation.py</string>
        <string>--run-now</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight</string>
    
    <key>StartCalendarInterval</key>
    <array>
        <dict>
            <key>Hour</key>
            <integer>6</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
        <dict>
            <key>Hour</key>
            <integer>14</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>
    </array>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>StandardErrorPath</key>
    <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight/logs/automation_error.log</string>
    
    <key>StandardOutPath</key>
    <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight/logs/automation_output.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/kyleweiss/Documents/GitHub/RenewablePowerInsight/venv/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
</dict>
</plist>
